body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('https://as2.ftcdn.net/v2/jpg/03/11/60/51/1000_F_311605165_YzTBnCpcLYi91fcrehJDFWMlghhdsFaG.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

header {
    background-color: rgba(76, 175, 80, 0.8); 
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
